.card-img-top {
  object-fit: cover;
  width: 100rem;
  height: 20rem;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #074873;
  color: #fff;
}

.form-control {
  border-radius: 4px;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  border-radius: 4px;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.receipt-p {
  font-size: smaller;
  text-align: start;
}
@media print {
  .hidden-on-screen {
    display: block !important;
  }
}

.hidden-on-screen {
  display: none;
}
.font-color {
  color: #002e48;
}

html {
  scroll-behavior: smooth;
}

/* Ensure table structure remains stable during animations */
table {
  border-collapse: collapse;
}

/* Fix for Firefox animation glitches */
@-moz-document url-prefix() {
  tbody {
    display: table-row-group;
  }
}