/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  ::selection {
    @apply bg-secondary text-primary
  }

  ::-moz-selection {
    @apply bg-secondary text-primary
  }
}
  
  body {
    @apply min-h-screen min-w-[320px] font-primary bg-[#f2f2f2] scroll-smooth
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-extrabold
  }
 /* styles.css */
::-webkit-scrollbar {
  @apply w-2 h-2
}

::-webkit-scrollbar-track {
  @apply bg-primary
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-xl
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-300
}

/* Add this to your global stylesheet or a specific module */
.table-resizer {
  position: relative;
  cursor: col-resize;
}
/* si jan ga add ani keyframes for raffle */
@keyframes spinGlow {
  0% {
    box-shadow: 
      0px -10px 30px rgba(22, 165, 221, 0.56); /* Top */
  }
  25% {
    box-shadow: 
      20px 0px 30px rgba(22, 165, 221, 0.56); /* Right */
  }
  50% {
    box-shadow: 
      0px 10px 90px rgba(22, 165, 221, 0.56); /* Bottom */
  }
  75% {
    box-shadow: 
      -10px 0px 30px rgba(22, 165, 221, 0.56); /* Left */
  }
  100% {
    box-shadow: 
      0px -10px 30px rgba(22, 165, 221, 0.56); /* Back to Top */
  }
}

.animate-spinGlow {
  animation: spinGlow 3s infinite linear;
}


.table-resizer::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
}
