name: PSITS Client - Production Pipeline
env:
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}

on:
  push:
    branches:
      - production

jobs:
  build:
    name: Build Project
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Locate Client-side Directory
        run: ls -la client-side

      - name: Setup Node and Build Project
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"
          cache-dependency-path: client-side/package-lock.json

      - name: Install Dependencies
        run: npm install
        working-directory: client-side

      - name: Build Project
        run: npm run build
        working-directory: client-side

  Deploy-Preview:
    name: Deploy Preview
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Vercel CLI
        run: npm install --global vercel@latest

      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=preview --token=${{ secrets.VERCEL_TOKEN }}

      - name: Build Project Artifacts
        run: vercel build --token=${{ secrets.VERCEL_TOKEN }}

      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prebuilt --token=${{ secrets.VERCEL_TOKEN }}

  Deploy-Production:
    name: Deploy Production
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Vercel CLI
        run: npm install --global vercel@latest

      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=production --token=${{ secrets.VERCEL_TOKEN }}

      - name: Build Project Artifacts
        run: vercel build --prod --token=${{ secrets.VERCEL_TOKEN }}

      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prebuilt --prod --token=${{ secrets.VERCEL_TOKEN }}

  Release-Project:
    name: Release Project
    runs-on: ubuntu-latest
    needs: Deploy-Preview
    steps:
      - uses: actions/upload-artifact@v4
        with:
          name: static-site-${{ github.run_number }}
          path: artifact-${{ github.run_number }}
      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: static-site-${{ github.run_number }}
          path: artifact-${{ github.run_number }}
      - name: Archive site content
        uses: thedoctor0/zip-release@0.7.5
        with:
          type: "zip"
          filename: release-${{ github.run_number }}.zip
      - name: Create Github Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.run_number }}
          release_name: Release-${{ github.run_number }}
